Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^(config|helpers|includes|database|docs|migrations|_deploy|_legacy)/ - [F,L]
</IfModule>

<FilesMatch "^\.">
    Require all denied
</FilesMatch>
